body{
  background-color: rgb(251, 251, 251, 0.6);
}

#card{
  transition: 0.1s ease-in-out;
  border-radius: 5px;

}

#card:hover{
  transform: scale(1.005) translateY(-2px);
  box-shadow: 0 5px 15px -5px #eaeaeb;

}
